@import '../../constants.css';
.container{

}
.form {
    margin: auto;
    width: 70%;
}

.input-group{
    text-align: center;
}

.icon {
    display: inline-table;
    width: 16px;
    height: 16px;
}

.color {
    display: inline-table;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
