.container{
    flex: 6 0 65%;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.header{
    width: 100%;
}

.headerline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.title {
    flex: 1 5 55%;
    margin: 10px;
}
.buttongroup {
    text-align: right;
    flex: 1 0 40%;
    & div, & button {
        margin: 6px;
    }
    & [data-active=true] {
        background: lightseagreen;
    }
}

