@import '../../constants.css';
.container{
    flex: 1 0 20%;
    position: relative;
    margin: 8px;
    overflow: hidden;
    color: var(--gray-color);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.plus{
    font-size: 48px;
    align-self: center;
}
.category{
    font-size: 18px;
    align-self: left;
    color: var(--primary-color);
}
.button-group{
    position: absolute;
    bottom: 0;
    right: 0;

    & button {
        margin: 4px 5px 4px 0;
        visibility: hidden;
    }

    &:hover button{
        visibility: visible;
    }
}


.active{
    border-color: var(--active-cell-color);
}
.over {
    color: navy;
}
.none{
    display: none;
}