@import '../../constants.css';
.container{
    flex: 1 2 15%;
    background: silver;
    user-select: none;
    color: var(--primary-color);
    background-color: var(--gray-color);
    padding-top: 12px; 
}
.scrollable{
    @apply --scrollable;
    
}