.container {
    
}

table {
    width: 100%;
    user-select: none;
    cursor: default;
}

.number {
    text-align: right;
}
.plan-item {
    max-width: 24px;
    min-width: 24px;
    overflow: hidden;
    text-align: right;
} 
.product-name{
    white-space: nowrap;
}
.hand {
    cursor: pointer;
}
.main{
}
.days{
}