.container {
    
}

table {
    width: 100%;
    user-select: none;
    cursor: default;
}

.number {
    text-align: right;
}
.plan-item {
    max-width: 80px;
    min-width: 80px;
    overflow: hidden;
    text-align: right;
} 
.product-name{
    max-width: 350px;
    min-width: 350px;
    overflow: hidden;
    white-space: nowrap;
}
.amount {
    max-width: 100px;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}
.serial{
    max-width: 40px;
    min-width: 40px;
    overflow: hidden;
}

.hand {
    cursor: pointer;
}
.main{
}
.days{
}